{% extends "main/base.html" %}

{% block title %}Task book{% endblock %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block content %}
<main>
    {% if errors %}
        {% for error in errors %}
            <section class="error">
                <p>{{error}}</p>
            </section>
        {%endfor%}
    {%endif%}


    <section id="newTaskBlock" class="new__task">
        //= content/add_new_task.html
    </section>
</main>
{% endblock %}

{% block script %}
<script src="public/js/task.js"></script>
{% endblock %}