{% extends "main/base.html" %}

{% block title %}Task book{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
<main>
    <section class="header__nav">
        <button id="addNewTask"></button>
        {% if paginError %}
            <section class="warning">
                <p>{{paginError}}</p>
            </section>
        {% endif %}
        //= content/sort.html
    </section>
    <section id="newTaskBlock" class="new__task">
        //= content/add_new_task.html
    </section>
    {% for task in tasks %}
        //= content/task.html
    {% endfor %}
    <section class="pagination">
        {% if prevPage %}
            <a class="pagination__block" href="page/{{ prevPage }}/{{ url }}">
                <span class="pagination__block-num">&#60&#60</span>
            </a>
        {% endif %}
        {% if curentPage >= 4 %}
            <a class="pagination__block" href="page/{{ firstPage }}/{{ url }}">
                <span class="pagination__block-num">{{ firstPage }}</span>
            </a>
        {% endif %}
        {% if curentPage >= 5 %}
            <span class="pagination__blockNowPage">
                <span class="pagination__blockNowPage-num">&#8230</span>
            </span>
        {% endif %}

        {% for page in from..too %}
                //= content/pagination.html
        {% endfor %}

        {% if curentPage + 4 <= lastPage %}
            <span class="pagination__blockNowPage">
                <span class="pagination__blockNowPage-num">&#8230</span>
            </span>
        {% endif %}
        {% if curentPage + 3 <= lastPage %}
            <a class="pagination__block" href="page/{{ lastPage }}/{{ url }}">
                <span class="pagination__block-num">{{ lastPage }}</span>
            </a>
        {% endif %}
        {% if nextPage %}
            <a class="pagination__block" href="page/{{ nextPage }}/{{ url }}">
                <span class="pagination__block-num">&#62&#62</span>
            </a>
        {% endif %}
    </section>
</main>
{% endblock %}

{% block script %}
<script src="public/js/main.js"></script>
{% endblock %}