{% extends "main/base.html" %}

{% block title %}Task book{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
<main>
    <section class="header__nav">
    <button id="addNewTask"></button>
        //= content/sort.html
    </section>
    <section id="newTaskBlock" class="new__task">
        //= content/add_new_task.html
    </section>
    {% for task in tasks %}
        //= content/task.html
    {% endfor %}
    <section class="pagination">
        //= content/pagination.html
    </section>
</main>
{% endblock %}

{% block script %}
<script src="public/js/main.js"></script>
{% endblock %}