<form action="" method="post" class="add__task">
    <div class="wrapper">
        <label for="inputName">Имя:</label>
        <input type="text" value="{{task.name}}" name="name" class="add__task-inputName" id="inputName" placeholder="Name">
    </div>
    <div class="wrapper">
        <label for="inputEmail">Email:</label>
        <input type="text" value="{{task.email}}" name="email" class="add__task-inputEmail" id="inputEmail" placeholder="youremail@gmail.com">
    </div>
    <div class="wrapper">
        <label for="inputTask">Задача:</label><span class="badge badge-pill badge-warning float-right"><?= $error['task'] ?: ''; ?></span>
        <textarea class="add__task-inputTask" name="job" id="inputTask" rows="3">{{task.job}}</textarea>
    </div>

    <div class="wrapper">

        {% for status in statuses %}
            {% if status.id == 1 %}
                <label>
                    <input type="radio" checked="checked" name="status" value="{{status.id}}"/>
                    {{status.status_name}}
                </label>
            {% else %}
                <label>
                    <input type="radio" name="status" value="{{status.id}}"/>
                    {{status.status_name}}
                </label>
            {% endif %}
        {% endfor %}
    </div>

    <input type="hidden" name="id" value="{{task.id}}">

    <button type="submit" class="add__task-btn">Добавить</button>
</form>