<form action="" method="post" class="add__task">
    <div class="wrapper">
        <label for="inputName">Login:</label>
        <input type="text" value="" name="Login" class="add__task-inputName" id="inputName" placeholder="Name">
    </div>
    <div class="wrapper">
        <label for="inputEmail">Pass:</label>
        <input type="password" value="" name="pass" class="add__task-inputEmail" id="inputEmail" placeholder="youremail@gmail.com">
    </div>
    <div class="wrapper">
        <label>
            <input type="checkbox" name="status" value="Выполнено"/>
            Запомнить
        </label>
    </div>
    <button type="submit" class="add__task-btn">Войти</button>
</form>