<a class="pagination__block" href="">
    <span class="pagination__block-num">&#60&#60</span>
</a>

<a class="pagination__block" href="">
    <span class="pagination__block-num">1</span>
</a>

<a class="pagination__block" href="">
    <span class="pagination__block-num">2</span>
</a>

<span class="pagination__blockNowPage" href="">
    <span class="pagination__blockNowPage-num">3</span>
</span>

<a class="pagination__block" href="">
    <span class="pagination__block-num">4</span>
</a>

<a class="pagination__block" href="">
    <span class="pagination__block-num">5</span>
</a>

<span class="pagination__blockNowPage" href="">
    <span class="pagination__blockNowPage-num">&#8230</span>
</span>

<a class="pagination__block" href="">
    <span class="pagination__block-num">35</span>
</a>

<a class="pagination__block" href="">
    <span class="pagination__block-num">&#62&#62</span>
</a>