<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <!-- Кодировка веб-страницы -->
        <meta charset="utf-8">
        <!-- Настройка viewport -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <base href="{{host}}">
        <link rel="shortcut icon" href="public/img/icons/main/favicon.png" type="image/x-icon">
        <!-- Подключаем CSS -->
        <link rel="stylesheet" href="public/css/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Epilogue:wght@200;400;600;800&display=swap" rel="stylesheet">
        <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
<div class="bg">
    <div class="container">
        <header class="header">
            <div class="header__nav__container">
                <nav class="container">
                    <div>
                        <a class="nav-link" href="home"><h1>Task Book</h1></a>
                    </div>
                    <div>
                        {% if User %}
                            <a class="nav-link" href="logout">Выйти</a>
                        {% else %}
                            <a class="nav-link" href="login">Войти</a>
                        {% endif %}
                    </div>
                </nav>
            </div>
        </header>

        {% block content %}{% endblock %}
    </div>
</div>

{% block script %}

{% endblock %}
</body>
</html>
