{% extends "main/base.html" %}

{% block title %}Task book{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
<main>
    <section class="header__nav">
        <button id="addNewTask"></button>
        {% if paginError %}
            <section class="warning">
                <p>{{paginError}}</p>
            </section>
        {% endif %}
        <div class="select__block">
            <label class="select__block-label">Sort by:
                <select id="sortBy" class="select__block-list">
                    <option value="page/{{ curentPage }}/field/name/sort/{{ sort }}" selected>Имя</option>
                    <option value="page/{{ curentPage }}/field/email/sort/{{ sort }}">е-mail</option>
                    <option value="page/{{ curentPage }}/field/status/sort/{{ sort }}">Статус</option>
                </select>
            </label>
            <a href="page/{{ curentPage }}/{{ url }}"><img id="sort" src="public/img/icons/sort/sort_desc.png" class="select__block-img" alt="sort"></a>
        </div>
    </section>
    <section id="newTaskBlock" class="new__task">
        <form action="" method="post" class="add__task">
            <div class="wrapper">
                <label for="inputName">Имя:</label>
                <input type="text" value="" name="name" class="add__task-inputName" id="inputName" placeholder="Name">
            </div>
            <div class="wrapper">
                <label for="inputEmail">Email:</label>
                <input type="text" value="" name="email" class="add__task-inputEmail" id="inputEmail" placeholder="youremail@gmail.com">
            </div>
            <div class="wrapper">
                <label for="inputTask">Задача:</label><span class="badge badge-pill badge-warning float-right"><?= $error['task'] ?: ''; ?></span>
                <textarea class="add__task-inputTask" name="task" id="inputTask" rows="3"></textarea>
            </div>
        
            <div class="wrapper">
                <label>
                    <input type="radio" checked="checked" name="status" value="Не выполненно"/>
                    Не выполненно
                </label>
                <label>
                    <input type="radio" name="status" value="Выполнено"/>
                    Выполнено
                </label>
            </div>
        
            <input type="hidden" name="id" value="<?= $task->id ?: '' ?>">
        
            <button type="submit" class="add__task-btn">Добавить</button>
        </form>
    </section>
    {% for task in tasks %}
        <div class="task__block">
            <div class="wrapper">
                <p class="task__block-user">{{ task.name }}</p>
                <p class="task__block-email">{{ task.email }}</p>
                <p class="task__block-status">{{ task.status }}.
                    {% if task.admin_edit %}
                        Отредактировано администратором.
                    {% endif %}
                </p>
            </div>
            <p class="task__block-content">{{ task.job }}</p>
        </div>
    {% endfor %}
    <section class="pagination">
        {% if prevPage %}
            <a class="pagination__block" href="page/{{ prevPage }}/{{ url }}">
                <span class="pagination__block-num">&#60&#60</span>
            </a>
        {% endif %}
        {% if curentPage >= 4 %}
            <a class="pagination__block" href="page/{{ firstPage }}/{{ url }}">
                <span class="pagination__block-num">{{ firstPage }}</span>
            </a>
        {% endif %}
        {% if curentPage >= 5 %}
            <span class="pagination__blockNowPage">
                <span class="pagination__blockNowPage-num">&#8230</span>
            </span>
        {% endif %}

        {% for page in from..too %}
                {% if curentPage == page %}
                    <span class="pagination__blockNowPage">
                        <span class="pagination__blockNowPage-num">{{ page }}</span>
                    </span>
                {% else %}
                    <a class="pagination__block" href="page/{{ page }}/{{ url }}">
                        <span class="pagination__block-num">{{ page }}</span>
                    </a>
                {% endif %}
        {% endfor %}

        {% if curentPage + 4 <= lastPage %}
            <span class="pagination__blockNowPage">
                <span class="pagination__blockNowPage-num">&#8230</span>
            </span>
        {% endif %}
        {% if curentPage + 3 <= lastPage %}
            <a class="pagination__block" href="page/{{ lastPage }}/{{ url }}">
                <span class="pagination__block-num">{{ lastPage }}</span>
            </a>
        {% endif %}
        {% if nextPage %}
            <a class="pagination__block" href="page/{{ nextPage }}/{{ url }}">
                <span class="pagination__block-num">&#62&#62</span>
            </a>
        {% endif %}
    </section>
</main>
{% endblock %}

{% block script %}
<script src="public/js/main.js"></script>
{% endblock %}