{% extends "main/base.html" %}

{% block title %}Task book{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
<main>
    <section class="sort">
    <select name="select">
        <option value="value1">Значение 1</option>
        <option value="value2" selected>Значение 2</option>
        <option value="value3">Значение 3</option>
    </select>
    </section>
    <div class="task__block">
        <div class="wrapper">
            <p class="task__block-user">simon</p>
            <p class="task__block-email">ssv@gmail.com</p>
            <p class="task__block-status">Не выполнено</p>
        </div>
        <p class="task__block-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, tempora?</p>
    </div>
    <div class="task__block">
        <div class="wrapper">
            <p class="task__block-user">simon</p>
            <p class="task__block-email">ssv@gmail.com</p>
            <p class="task__block-status">Не выполнено</p>
        </div>
        <p class="task__block-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, tempora?</p>
    </div>
    <div class="task__block">
        <div class="wrapper">
            <p class="task__block-user">simon</p>
            <p class="task__block-email">ssv@gmail.com</p>
            <p class="task__block-status">Не выполнено</p>
        </div>
        <p class="task__block-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, tempora?</p>
    </div>
</main>
{% endblock %}