{% extends "main/base.html" %}

{% block title %}Sign in{% endblock %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block content %}
<main>
    {% if errors %}
    <section class="error">
        {% for error in errors %}
            <p>{{error}}</p>
        {%endfor%}
    </section>
    {% endif %}
    <form action="" method="post" class="add__task">
        <div class="wrapper">
            <label for="inputLogin">Login:</label>
            <input type="text" value="" name="Login" class="add__task-inputName" id="inputLogin">
        </div>
        <div class="wrapper">
            <label for="inputPass">Pass:</label>
            <input type="password" value="" name="pass" class="add__task-inputEmail" id="inputPass">
        </div>
        <div class="wrapper">
            <label>
                <input type="checkbox" name="status" value="Выполнено"/>
                Запомнить
            </label>
        </div>
        <button type="submit" class="add__task-btn">Войти</button>
    </form>
</main>
{% endblock %}

{% block script %}
{% endblock %}