.header__nav {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  .select__block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    margin: 10px 0;
    &-list {
      border: 0;
      background: none;
      width: 80px;
      cursor: pointer;
      &:focus {
        outline: none;
      }
    }
    &-label {
      color: $gray;
      font-size: 12px;
    }
    &-img {
      height: 18px;
      cursor: pointer;
      margin-left: 20px;
    }
  }
  .addNewTask {
    width: 35px;
  }
}